<%- include('../partials/header') %>

<div class="jumbotron index">
    <div class="header1">
      <div class="container">
    <h1>Awesome Tweets</h1>
  </div>
  </div>
</div>

<%- include('../partials/footer') %>
